In [2]:
import pandas as pd
import numpy as np

In [20]:
print("Pandas Version: " + str(pd.__version__))
print("NumPy Version: " + str(np.__version__))

Pandas Version: 0.22.0
NumPy Version: 1.14.2

In [8]:
test = pd.DataFrame(np.array(range(100)).reshape(10,10))

In [9]:
test

    0   1   2   3   4   5   6   7   8   9
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49
5  50  51  52  53  54  55  56  57  58  59
6  60  61  62  63  64  65  66  67  68  69
7  70  71  72  73  74  75  76  77  78  79
8  80  81  82  83  84  85  86  87  88  89
9  90  91  92  93  94  95  96  97  98  99

In [11]:
test.iloc[8,4]

84

In [16]:
test.iloc[3:8:2,3:8:2]

    3   5   7
3  33  35  37
5  53  55  57
7  73  75  77